@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 680px; }

a img {
  border: none; }

p {
  margin: 0 0 0 10px;
  Margin: 0 0 0 10px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #f3f3f3; } }

table.body {
  background: #f3f3f3;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 680px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 16px;
  padding-bottom: 16px; }
  th.columns .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    th.columns .columns center {
      min-width: none !important; }

th.columns.last {
  padding-right: 16px; }

th.columns table:not(.button) {
  width: 100%; }

th.large-2 {
  width: 97.33333px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-2.last {
  padding-right: 16px; }

.body .columns th.large-2 {
  width: 16.66667%; }

th.large-4 {
  width: 210.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-4.first {
  padding-left: 16px; }

th.large-4.last {
  padding-right: 16px; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-6 {
  width: 324px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-6.first {
  padding-left: 16px; }

th.large-6.last {
  padding-right: 16px; }

th.large-6 center {
  min-width: 292px; }

.body .columns th.large-6 {
  width: 50%; }

th.large-12 {
  width: 664px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-12.first {
  padding-left: 16px; }

th.large-12.last {
  padding-right: 16px; }

th.large-12 center {
  min-width: 632px; }

.body .columns th.large-12 {
  width: 100%; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

table.text-center,
h2.text-center,
p.text-center {
  text-align: center; }

th.text-right {
  text-align: right; }

@media only screen and (max-width: 696px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; }
  .small-text-center {
    text-align: center !important; } }

img.float-right {
  float: right;
  text-align: right; }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

body,
table.body,
h2,
h4,
p,
td,
th,
a {
  color: #0a0a0a;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h2,
h4 {
  color: inherit;
  word-wrap: normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h2 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

small {
  font-size: 80%;
  color: #cacaca; }

a {
  color: #0B544B;
  text-decoration: none; }
  a:hover {
    color: #052723; }
  a:active {
    color: #052723; }
  a:visited {
    color: #0B544B; }

h4 a,
h4 a:visited {
  color: #0B544B; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #f3f3f3;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 696px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

body,
html,
.body {
  background: #f3f3f3 !important; }

.header {
  background: #8a8a8a; }

.header .columns {
  padding-bottom: 0; }

h2, h4 {
  color: #0B544B;
  font-weight: 800; }

a {
  color: #0B544B; }

.header {
  background: #0B544B;
  height: 76px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.no-padding {
  padding: 0 !important; }

.cont-img-principal {
  border-right: 1px solid #B2E1D7;
  border-left: 1px solid #B2E1D7; }
  .cont-img-principal img {
    width: 100%; }

.noticia-principal {
  background-color: #E6EEED;
  min-height: 194px;
  padding-bottom: 0 !important;
  border-right: 1px solid #B2E1D7;
  border-left: 1px solid #B2E1D7; }
  .noticia-principal h2 {
    font-size: 28px; }
    .noticia-principal h2 small {
      display: block;
      font-size: 16px;
      color: #0B544B;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 30px;
      width: 100%;
      text-align: center; }
  .noticia-principal .ver-mas a {
    margin-bottom: 30px;
    margin-top: 24px;
    font-size: 16px; }

.noticia {
  margin-bottom: 30px; }
  .noticia h4 a {
    font-weight: 700;
    font-size: 16px;
    color: #999;
    line-height: 1.4;
    margin-right: 16px;
    margin-left: 16px;
    display: block; }
  .noticia img {
    border: 1px solid #B2E1D7;
    border-radius: 10px;
    margin: 0 auto; }
  .noticia .ver-mas {
    margin-right: 16px;
    margin-left: 16px; }

.cont-btn img {
  display: inline-block; }

.logo-red {
  max-width: 260px; }

.footer {
  height: 126px;
  max-width: 680px;
  background: #009A7A;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.logo-impacta {
  margin-left: 12px;
  margin-top: 36px; }

.logo-acredita {
  float: right;
  margin-top: 36px;
  margin-right: 12px; }

body {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.cont-noticias {
  border-right: 1px solid #B2E1D7;
  border-left: 1px solid #B2E1D7; }
